@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #bdd7ec !important;
    font-family: 'comfortaa'!important;
}

.cabecera{
    color: #2a4444;
}

.cabecera h1{
    text-align: center;
    font-size: 40px;
    color:#2a4444;
    padding: 80px;
    font-weight: 900;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1 p{
    text-align: center;
    font-size: 30px;
    color:#2a4444;
    opacity: 0.5;
    font-weight: bold;
    margin-top: 70px;
}
.cabecera p{
    text-align: center;
    font-size: 80PX;
    letter-spacing: 4px;
    font-weight: bold;
    font-family:'Raleway', sans-serif;
    letter-spacing: -0.19px;

}
.cabecera span{
    text-align: center;
    font-size: 80PX;
    letter-spacing: 4px;
    font-weight: 200;
    font-family:'Raleway', sans-serif;
    letter-spacing: -0.19px;
    color: #2a4444;
} 


.content{
    background-color: #97c0e2;
    padding: 12px;
    margin-top: 130px;
    width: 100%;
    height: 280px;
}
.col{
    font-size: 25px;
    color:#2a4444;
    padding: 20px;
    font-weight: 900;
}
.section2 p{
 font-size: 25px;
 color:#2a4444;
 font-weight: 900;
 margin-top: 40px;
}
footer{
    background-image: url(https://i.ibb.co/7g1NPkh/INFINITO-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    margin-top: 200px;
}
footer img{
    width: 50px;
    height: 20px;
}
.section3{
    position: absolute;
    margin-top: 176px;
    left: 90px;
}
.olivos{
    display: flex;
}
.redes{
    width: 80px;
    height: 35px;
}
.parrafo1{
font-size: 25px;
margin: 8px;
font-weight: bold;
color: #fff;
}
.parrafo2{
 font-size: 25px;  
 color: #fdf4a1;
 font-weight: bold; 
}
.parrafo3{
  font-size: 25px; 
  color: #fff; 
  font-weight: bold;
}
.parrafo4{
    font-size: 25px;   
    color: #fff;
    font-weight: bold;
}
.logo-footer{
    width: 93vw;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-left: 62%;
    margin-top: -182px;
    width: 320px;
    height: 170px;
}
